/*------------------------- PADRÃO -------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

    p, li{
        font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    }


body::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #161d31;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #253155;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #161d31;
    /* creates padding around scroll thumb */
}


.pt {
    padding-top: 15px;
}

.pr {
    padding-right: 15px;
}

.pb {
    padding-bottom: 15px;
}

.pl {
    padding-left: 15px;
}

.mt {
    margin-top: 15px;
}

.mr {
    margin-right: 15px;
}

.mb {
    margin-bottom: 15px;
}

.ml {
    margin-left: 15px;
}

.pAll {
    padding: 15px;
}

a {
    text-decoration: none;
}

body {
    background-attachment: fixed;
    width: 100%;
}

input,
select,
textarea {
    width: 100%;
    display: block;
    padding: 0.375rem 0;
    padding-left: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-color: #3319FF;
}

ul {
    list-style: none;
}

header {
    /* background-color: #4C89A8; */
    color: white;
    /* height: 60px; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.margin-header {
    margin-top: 92px !important;
}

.margin-header-banner {
    margin-top: 184px !important;
}

footer {
    text-align: center;
    border-top: 3px inset #3319FF;
    background-color: #FF6600;
    bottom: 0;
}

footer ul li {
    display: inline-block;
    padding: 15px 0;
}

footer p {
    padding: 15px 0;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

.btn {
    /*Padrão dos botões*/
    background-color: #3319FF;
    color: #fff;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.menu-superior {
    width: 100%;
    background-color: #FF6600;
    border-bottom: solid 1px;
    /* position: fixed; */
    /* top: 0;*/
}

.container_flex-space-around {
    /*Classe para o menu pilar*/
    display: flex;
    padding-top: 1%;
    justify-content: space-between;
    z-index: 1000;
}

#logo {
    /*Id para o logo do menu*/
    line-height: 25px;
}

#logo img {
    width: 50%;
}

.container {
    /*Classe para título e tabela de preenchimento do cadastro*/
    width: 80%;
    margin: 0 auto;
}

.titulo {
    /*Classe para padronizar os títulos da página/site*/
    margin-top: 65px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
}

.menu-bloco {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-bloco :hover {
    color: #000;
    background-color: yellow;
}

.menu-caixa :hover {
    transform: skew(0deg);
}

.menu-caixa {
    background-color: #3419ff;
    margin: 0px 5px 0px 0px;
    transform: skew(340deg);
    border: solid rgba(255, 255, 255, 0.80) 1px;
}

.menu-caixa li {
    transform: skew(20deg);
    font-size: 1.07em;
}

/* COOKIES */

.card-cookies {
    display: grid;
    grid-template-columns: 14fr 3fr;
    position: absolute;
    bottom: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
}

.cookies-box {
    position: fixed;
    bottom: 15px;
    width: 100%;
}

.cookies {
    z-index: 999;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.btn-cookies {
    line-height: 48px;
}

/*Id para por o footer no fim da página*/

/*#fundo {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#fundo-pacotes {
    position: absolute;
    width: 100%;
}
*/
@keyframes caixa-icones {
    from {
        width: 60px;
    }

    to {
        width: 80px;
    }
}

/*Necessário padronizar o footer ainda com pouco conteúdo
Necessário diminuir o espaço entre as palavras do menu*/

/*Padrão para os icones flutuante do site*/

div.social-caixa {
    position: fixed;
    left: -15px;
    top: 250px;

}

div.social-caixa :hover,
div.social-caixa i:hover {
    animation: caixa-icones 300ms;
    color: #FF6600;
    animation-fill-mode: forwards;
}

div.social-icons {
    position: static;
    border: 1px solid rgba(180, 180, 180, 0.5);
    border-radius: 5px;
    width: 60px;
    height: 40px;
    background-color: white;
    text-align: center;
    transform: skew(340deg);
    margin: 0px 0px 7px 0px;
    box-shadow: 3px 3px rgba(135, 135, 135, 0.2);
    color: #3419ff;

}

.social-icons i {
    line-height: 35px;
    transform: skew(20deg);
    font-size: 20px;
    margin: 0px 0px 0px 15px;
}

/*------------------------- PARTE DO CADASTRO.HTML -------------------------*/

.menu-cadastro ul {
    /*Padrão para aba das opções de cabeçalho da tabela*/
    display: flex;
    justify-content: center;
}

.menu-cadastro ul li {
    /*Padrão para aba das opções de cabeçalho da tabela*/
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

.bg-pessoa-fisica {
    /*CSS das abas do cadastro - Pessoa Fisica*/
    /* background-color:  #a9a9a9; */
    background-color: #3319FF;
    color: #fff;
}

.bg-pessoa-juridica {
    /*CSS das abas do cadastro - Pessoa Juridica*/
    /* background-color:  #CFB53B; */
    background-color: #FF6600;
    color: #fff;
}

.estrutura-geral {
    /*Fundo da tabela de preenchimento do cadastro para teste e alinhamento*/
    align-items: center;
}

.flex-grid-2 {
    /*Linha com 2 preenchimentos*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-grid-3 {
    /*Linha com 3 preenchimentos*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-cadastro {
    /*Fundo da tabela de preenchimento Final*/
    margin-right: 30%;
    width: 100%;
    padding: 10px;
    background-color: #3419ff;
}

.form-cadastro input,
textarea {
    /*Padrão para os campos de preenchimento da tabela*/
    background-color: #fff;
    width: 100%;
    padding: 10px;
}

.form-cadastro label {
    /*Padrão do tamanho dos nichos de preenchimento*/
    color: #fff;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

.termo-uso {
    /*Padrão para Checkbox*/
    text-align: center;
    align-items: center;
    background-color: #3419ff;
    color: #fff;
    padding: 3px;
}

.botao {
    /* margin-left: 85%; */
    padding: 0 0 15px 0;
    text-align: center;
    margin: 5px;
}

/*Obs: 
1 - Descer texto (menu pilar esta encobrindo)
*/

/*------------------------- PARTE DO CONTATOS.HTML -------------------------*/


.menu-contato {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.menu-contato-center ul {
    /* padding-top: 50%; */
}

.form-contato {
    margin-right: 30%;
    width: 100%;
    background-color: #3319FF;
    border-radius: 10px;
    margin-bottom: 5px;
}

.form-contato-iten {
    width: 100%;
    padding: 15px;
}


.form-contato-iten label {
    color: #fff;
    width: 100%;
    margin-bottom: 5px;
    /* padding: 10px; */
}

/*Obs: 
1 - Colocar os dados do Senac nop lado direito*/

/*------------------ PARTE DO LOGIN.HTML / LOGIN_EMPRESA.THML------------------*/

#menu-login {
    width: 30%;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    padding: 15px;
    background-color: #3319FF;
}

#menu-login label {
    color: #fff;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

#color-link {
    /*Ver como muda a cor do texto do link*/
}

/*------------------------- PARTE DO CATEGORIAS.HTML -------------------------*/

.card-cateroria {
    margin-bottom: 20px;
}

.card-cateroria img {
    padding-top: 70px;
    width: 100%;
    border-radius: 10px;
}

.card-info-pacote {
    background-color: whitesmoke;
    padding: 10px;
    border: solid #3319FF 2px;
    border-left: solid #CFB53B 10px;
    border-radius: 10px;

}

.card-info-pacote-gold {
    background-color: whitesmoke;
    padding: 10px;
    border: solid #CFB53B 2px;
    border-left: solid #CFB53B 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(180, 180, 180, 0.5);
    position: relative;
}

.card-info-pacote-brass {
    background-color: whitesmoke;
    padding: 10px;
    border: solid #A95522 2px;
    border-left: solid #A95522 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(180, 180, 180, 0.5);
    position: relative;
}

.card-info-pacote-free {
    background-color: whitesmoke;
    padding: 10px;
    border: solid #a9a9a9 2px;
    border-left: solid #a9a9a9 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(180, 180, 180, 0.5);
    position: relative;
}

.card-info-pacote-gold ul,
.card-info-pacote-brass ul,
.card-info-pacote-free ul {
    display: block;
}

/*.pacote-gold {
    border-left: 5px solid #CFB53B;
}

.pacote-brass {
    border-left: 5px solid #A95522;
}

.pacote-free {
    border-left: 5px solid #a9a9a9;
}*/

.col-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.tag-oferta {
    background-color: #3319FF;
    color: #fff;
    width: 310px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 3px;
}

.tag-promocao {
    background-color: #FF6600;
    width: 310px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 42px;
    border-radius: 10px;
}

.card-footer {
    background-color: #3319FF;
    color: #fff;
    padding: 6px 5px;
    border-radius: 10px;
    width: 100%;
}

/*------------------------- PARTE DO PACOTES.HTML -------------------------*/

.menu-pacotes {
    width: 100%;
    font-size: 20px;
}

.bg-pacote-gold {
    /* background-color:  #CFB53B; */
    background-color: #cfb53b99;
    border-radius: 10px 10px 0px 0px;
    border: solid #cfb53b99 1px;
}

.bg-pacote-brass {
    /* background-color:  #A95522; */
    background-color: #a955226b;
    border-radius: 10px 10px 0px 0px;
    border: solid #a955226b 1px;
}

.bg-pacote-free {
    /* background-color:  #a9a9a9; */
    background-color: #a9a9a980;
    border-radius: 10px 10px 0px 0px;
    border: solid #a9a9a980 1px;
}

.menu-pacotes ul {
    display: flex;
    justify-content: center;
}

.menu-pacotes ul li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

.info-pacote-1 {
    background-color: rgb(255, 255, 255);
    border: solid darkgray 1px;
}

.info-pacote-2 {
    background-color: rgb(255, 255, 255);
    border: solid #a955226b 1px;
}

.info-pacote-3 {
    background-color: rgb(255, 255, 255);
    border: solid #cfb53b99 1px;
}

.info-pacotes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px 10px 10px 10px;
}

.pacote-info-text {
    padding: 0 8px 0 0;
}

/* .card-info-pacote{
margin: 15px 20px;
} */

.card-info-pacote {
    background-color: whitesmoke;
    padding: 10px;
}

.card-info-pacote ul {
    display: block;
}

.banner {
    height: 500px;
    width: 100%;
    background-color: #666;
}

.categotias {
    display: flex;
    justify-content: space-around;
}

.categotias figure {
    margin: 20px;
    position: relative;
    background-image: url(../imagens/layoutminimercado.png);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    filter: grayscale(60%);
    background-size: cover;
}

.categotias img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    opacity: 0.7;
    background-blend-mode: darken;
    background-color: black;
}

.categotias figcaption {
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    color: white;
    font-size: 1.5em;
}

.list-pacotes h3,
.list-pacotes ul li,
.list-pacotes h4 {
    text-align: center;
}

.list-pacotes-not {
    text-decoration: line-through;
}

.list-pacotes ul {
    background-color: #999;
    padding: 20px 70px;
}

.anuncios img {
    width: 95%;
}

.text-propaganda {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}

.propaganda {
    width: 100%;
    background-color: rgb(114, 112, 112);
}

/*Apenas para ver visualmente, nâo colocar no css*/
.titulo-h3 {
    text-align: center;
    padding: 15px;
}

/*Titulo do Valor*/
.titulo-h4 {
    padding: 8px;
}

.botton {
    width: 30%;
    padding: 8px;
    font-size: 23px;
    margin: 10px;
}

.botton-pac {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    margin: 12px auto;
}

/*Apenas para ser visual*/
.list-pacotes-not {
    color: rgba(255, 0, 0, 0.5);
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

#pacote-2,
#pacote-3 {
    display: none;
}

.menu-pacotes ul li {
    cursor: pointer;
}

.classificacao li {
    display: inline-block;
}

.classificacao img {
    width: 10px;
    padding-top: 0;
}

.banner-pag-cliente {
    width: 100%;
    height: 300px;
    background-color: red;
}

.info-empresa {
    padding: 15px;
    background: white;
}

.col-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
}

produtos-info {
    background: white;
    padding: 15px;
}

.produtos-info img {
    width: 100%;
    border-radius: 10px;
}

.col-cupom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    background: gray;
}

.comentario-pag-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 15px;
    background-color: beige;
    margin-bottom: 15px;
}

.comentarios-info {
    background-color: white;
    padding: 15px;
}

.comentario-pag-info img {
    width: 100%;
    border-radius: 10px;
}

.btn-pag-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    padding: 15px;
}

.valor-desconto {
    text-decoration: line-through;
}

/*------------------------- PARTE DO SOBRE.HTML -------------------------*/

.accordionWrapper {
    padding: 30px;
    background: #fff;
    width: 80%;
    overflow: hidden;

    box-shadow: 0 1.5em 85px 0 rgb(0 0 0 / 20%);
    margin: 15px auto;
}

.accordionItem {
    float: left;
    display: block;
    width: 100%;
    font-family: "Open-sans", Arial, sans-serif;
}

.accordionItemHeading {
    cursor: pointer;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    background: #3419ff;
    color: #fff;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.accordionItem :hover {
    background-color: #FF6600;
}

.accordionItemHeading i {
    line-height: 32px;
}

.close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float: left;
    display: block;
}

.open .accordionItemContent {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display: block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .accordionItemHeading {
    margin: 0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #bdc3c7;
    color: #7f8c8d;
}