body::-webkit-scrollbar {
    width: 15px;   
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #161d31;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb  {
    background-color: #253155;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #161d31;
    /* creates padding around scroll thumb */
}

.menu-lateral::-webkit-scrollbar, .box-conteudo::-webkit-scrollbar {
    width: 4px;
    /* width of the entire scrollbar */
}

.menu-lateral::-webkit-scrollbar-track, .box-conteudo::-webkit-scrollbar-track {
    background: #253155;
    /* color of the tracking area */
}

.menu-lateral::-webkit-scrollbar-thumb, .box-conteudo::-webkit-scrollbar-thumb {
    background-color: #253155;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #253155;
    /* creates padding around scroll thumb */
}

* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .nav-item-ativo div:after {
    border-right: 17px solid #0f1833;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0px;
    opacity: 1;
    top: 58px; 
    z-index: 99;
    transition: opacity 150ms ease-in;
  
} */

.nav-item-ativo{
    background-color: #2c3b41;
    border-left: 2px #3c8dbc solid!important;
}

/* .nav-item:before {
    border-right: 17px solid #ddd;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -16px;
    opacity: 1;
    top: 7px;
    transition: opacity 150ms ease-in;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap'); */

    h1,h2, h3, h4, h5, h6{
        font-family: 'Noto Sans', sans-serif;
    }


:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --danger: #dc3545;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #40a958;
    /* --success: #28a745; */
    --info: #17a2b8;
    /* --color-white: #fff;
    --bnt-white: #fff; */
}

body {
    background-color: #2c2c2c;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

button,
input[type=submit] {
    color: var(--white);
}

textarea {
    resize: none;
}

input {
    display: block;
    padding: 0.375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text-center{text-align: center;}

.btn {
    background-color: var(--success);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.lista-block li {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

header,
header nav {
    height: 70px;
    width: 100%;
}

.menu {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

#menu-superior-toggle-user {
    background-color: #161d31;
    /* background-color: #343a40; */
    padding: 15px;
    width: 12%;
    position: absolute;
    right: 5px;
}

#menu-superior-toggle-user li {
    display: block;
}

#menu-lateral-toggle-cadastro {
    transition: opacity 1.5s;
    display: none;

}

#menu-lateral-toggle-cadastro li a {
    display: inline !important;
}

#menu-lateral-toggle-cadastro li a:hover,
#menu-lateral-toggle-cadastro li {
    color: var(--secondary);
    border-left: none !important;
}

#menu-lateral-toggle-cadastro:hover {
    /* border-left: 2px #1e282c solid!important; */
}



#menu-lateral-toggle-cadastro.mostrar-cadastro {
    transition: opacity 1.5s;
    display: block;
}



#menu-lateral-toggle-suporte {
    transition: opacity 1.5s;
    display: none;

}

#menu-lateral-toggle-suporte.mostrar-suporte {
    transition: opacity 1.5s;
    display: block;
}


#menu-superior-toggle-user {
    display: none;
}

#menu-superior-toggle-user.mostrar-menu-user {
    display: block;
}

#menu-mensagens {
    display: none;
}

#menu-mensagens.mostrar-menu-mensagens {
    display: block;
}

#caixa-resposta-suporte{
    display: none;
}


#caixa-resposta-suporte.mostra-caixa-respostas-suporte{
    display: block;
}

#seta-lado-cadastro,
#seta-lado-suporte {
    line-height: 50px;
    float: right;
}



#seta-lado-cadastro.mostrar-seta-lado-cadastro {
    transform: rotate(90deg);
}

#seta-lado-suporte.mostrar-seta-lado-suporte {
    transform: rotate(90deg);
}

#caixa-2.gridTemplateColumns1 {
    grid-template-columns: 1fr !important;
}

#caixa-2 {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.menuLadoMostrar {
    display: none;
}


#logo {
    display: block;
    height: 70px;
    text-align: center;
    border-bottom: 1px dotted var(--white);
}

#logo img {

    width: 55%;
    padding-top: 8px;

}

#logo.logoMostrar {
    display: none;
}

#menu-lateral {
    z-index: 999;
    display: block;
    /* background-color: #161d31;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important; */

}

#menu-lateral ul li {
    line-height: 50px;
    color: #fff;

    border-left: 2px #161d31 solid;
    width: 100%;
}

.nav-pills li:hover {
    border-left: 2px #3c8dbc solid !important;
    color: var(--gray);
    width: 100%;
    background-color: #2c3b41;
    ;
}

/* #menu-lateral li:hover{
    color: #fff;
    background: #1e282c;
   
    width: 100%;
} */

#menu-lateral ul li a {
    padding: 0 15px;
    display: block;
}

#menu-lateral.menuLateralMostrar {
    display: none;
}

ul {

    line-height: 70px;
}

ul li {
    list-style: none;
    display: inline;
}

#logo {
    z-index: 999;
    background-color: #161d31;
    /* background-color: #f1f1f1; */
    line-height: 60px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
}

nav {
    background-color: #0f1833;
    display: flex;
    justify-content: space-between;
}

.menu-lateral {
    padding: 15px 0;
}

.menu-lateral ul li {
    display: block !important;
    /* background-color: red; */

}

.menu-lateral ul li i {
    /* float: right; */
}

.menu-lateral-corpo {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.conteudo {
    background-color: #f3eeee;
    padding: 15px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

}

.cards-pacotes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

}

.card {
    background: white;
    /* margin: 15px; */
    border-radius: 5px;
    text-align: center;
}

.card:hover{
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
}

.card h3 {
    padding: 22px 0;
}

.card p {
    /* font-size: 50px; */
    /* padding: 0 0 20px 0; */
}

.card-header {
    background-color: #6c757d;
    color: var(--white);
    border-radius: 5px 5px 0 0;
}

.card-header h2 {
    padding: 15px 0;
    font-size: 20px;
}

.card-body h3 {
    padding: 15px 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.card-body h4 {
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 500;
}

.card-body ul li {
    line-height: 40px;
}




footer {
    text-align: center;
    width: 100%;
    height: 50px;
    /* margin-top: 15px; */
    background-color: #fd7e14;
    ;
}

footer p {

    line-height: 50px;
    color: #fff;
}

.item-menu-lateral {
    /* display: none; */
}

.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    /* padding: 0px 9px; */
    padding-left: 0px;
    /* margin: 0px; */
    position: absolute;
    right: -2px;
    top: -10px;
    height: 16px;
    line-height: 15px;
    width: 20px;
    background: var(--danger);
    text-align: center;
    border-radius: 20px;
}



.nav-sidebar:hover {
    overflow: visible;
}

.sidebar-mini .nav-sidebar,
.sidebar-mini .nav-sidebar .nav-link,
.sidebar-mini .nav-sidebar>.nav-header {
    white-space: nowrap;
}

.nav-sidebar {
    position: relative;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    margin-bottom: 0;
}



.nav-link {
    position: relative;
}

.nav-link p {
    display: inline;
    margin: 0;
    white-space: normal;
    padding-left: 15px;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cards {
    margin-bottom: 15px;
}

.box-conteudo {
    background-color: white;
    padding: 15px;
    margin-bottom: 50px;
}

.breadcrumb {
    height: 40px;
}

.breadcrumb p {
    line-height: 30px;
}

.breadcrumb h3 {
    line-height: 40px;
}

.pr {
    padding-right: 15px;
}

.pl {
    padding-left: 15px;
}

.pt {
    padding-top: 15px;
}

.pb {
    padding-bottom: 15px;
}

.mr {
    margin-right: 15px;
}

.ml {
    margin-left: 15px;
}

.mt {
    margin-top: 15px;
}

.mb {
    margin-bottom: 15px;
}


/* html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
} */



/*------------------ CARRINHO CONTRATO------------------*/





.stepper-wrapper {
    font-family: Arial;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--gray);
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 8px solid var(--gray);
    width: 100%;
    top: 17px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gray);
    margin-bottom: 6px;
    color: var(--white);
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    /* background-color: #4bb543; */
    background-color: #0f1833;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 8px solid #0f1833;
    width: 100%;
    top: 17px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}


.contrato-carrinho {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.contrato-carrinho img {
    width: 100%;
}

.contrato-carrinho-btns {
    display: flex;
    justify-content: space-between;
}



/* PAGAMENTOS */

.pago{
    background-color: var(--success);
    color: var(--white);
}

.vencer{
    background-color: var(--yellow);
    color: var(--white);
}

.vencida{
    background-color: var(--danger);
    color: var(--white);
}



/* TABELAS */


table {
    width: 100%;
    border-spacing: 0px;
    
}

th,
td {

    text-align: left;
    padding: 5px 15px;
}

tr th,
tr td {
    height: 30px;
    line-height: 30px;
}



tr td {
    border-bottom: 1px solid black;
}

.titulo-tabela{
    background-color: white;
 
}
.pesquisa label{
    width: 15%;
    float: left;
    line-height: 38px;
}

.pesquisa input{
    width: 85%;
    float: left;
}

.icon-acoes {
    color: black;
}

.icon-acoes:hover {
    color: rgb(48, 47, 47);
}

.container-pesquisa{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.paginacao {
    text-align: center;

}



.paginacao a {
    color: black;
}


.acao-msg-ativa{
    color: var(--gray)!important;
}



/* MENSAGEM SUPORTE */

.col-2-grid-mensagens {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 15px;
}

.form-cadastro {
    width: 100%;
    margin-bottom: 15px;

}

.form-cadastro label {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

textarea {
  
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input{
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-cadastro input, .form-cadastro textarea {
    width: 90%;   
   
}

.form-msg-suporte input, .form-msg-suporte textarea {
    width: 100%; 
}

.form-msg-suporte{
    padding: 15px 0;
}


.box-mensagem {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.box-mensagem:hover{
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
}

.box-mensagem,
.box-mensagem a,
.box-mensagem i {
    color: var(--gray-dark);
}

.box-mensagem ul {
    line-height: 46px;
}


.box-mensagem li {
    display: block;
}

.card-mensagem {
    box-shadow: 0 -1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    -webkit-box-shadow: 0 -1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    padding: 15px;
    border-radius: 5px;

}



.pedir-remocao {
    cursor: pointer;
}
.flex-between {
    display: flex;
    justify-content: space-between;

}

.flex-mensagens {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

}

.flex-mensagens h4 {
    line-height: 40px;
}

.caixa-mensagem textarea {
    display: block;
    width: 100%;
}

.resposta-mensagem {
    width: 100%;
    /* margin-left: 10%; */
    padding: 15px;
    background-color: #ced4da;
}

hr {
    margin: 15px 0;
}

.btn-mensagem {
    display: flex;
    justify-content: end;
    padding: 15px 0;
}

.caixa-mensagem {
    box-shadow: 0 -1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    -webkit-box-shadow: 0 -1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    padding: 15px;
}

.caixa-resposta {
    display: none;
}

#menu-mensagens {
    background-color: #161d31;
    /* background-color: #343a40; */
    padding: 15px;
    width: 100%;
    position: absolute;
    right: 8px;
    top: 10px;

}

#menu-mensagens li {
    line-height: 32px;

}

#menu-mensagens a,
#menu-mensagens i {
    color: var(--white) !important;
}

.relativo {
    position: relative;
}



/* MENSAGENS */

.box-mensagem {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

.pedir-remocao {
    cursor: pointer;
}

.flex-mensagens {
    display: flex;
    justify-content: space-between;
}